
.about-title{
    font-size: 25px;
    font-weight: 600;
    color: $navyblue;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.about-content{
    font-size: $font-med;
    line-height: 2.1rem;
    margin-top: 50px;
    color:$navyblue;
}
.abt-line{
    background: $brown;
    height: 3px;
    width: 65px;
    border-radius: 9px;
    margin-top: -14px;
    margin-left: 2px;
}
@media (max-width:1200px){
    .abt-logo{
        width: fit-content;
        height: fit-content;
    }
}