.contact-form {
  background: $white;
  width: fit-content;
  padding: 20px;
  border: 2px solid $caramel;
  color: $caramel;
  margin-top: 25vh;
  margin-bottom: 30px;
  box-shadow: -3px 3px 8px #cccccc;
  position: relative;

  input,
  textarea,select {
    width: 300px;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid $caramel;
  }
  select{
    background: $white;
  }
  input{
    height: 40px;
  }
}
.submit {
  border-radius: 40px;
  border: none;
  background: $caramel;
  color: $white;
  padding: 6px 13px;
  margin-bottom: 15vh;
  font-size: 22px;
  width: 150px;
  height: 45px;
  cursor: pointer;
  &:hover{
    border: 2px solid rgb(110, 67, 52);
    border-radius: 25px;
    background: $white;
    color: rgb(110, 67, 52);
  }
}
.con-call {
  border: 2px solid $navyblue;
  border-radius: 35px;
  padding: 8px 18px;
  color: rgb(110, 67, 52);

  &:hover{
    background: $navyblue;
    color: $white;
    border: none;
  }
}
.con-accent{
  position: absolute;
  right: -295px;
  z-index: -1;
  margin-top: 25vh;
  opacity: .65;
}
@media (max-width:767px){
  .contact-form {
    background: $white;
    width: fit-content;
    padding: 20px;
    border:2px solid $caramel;
    color: $caramel;
    margin-top: 25vh;
    margin-bottom: 30px;
    box-shadow: -3px 3px 8px #cccccc;
    position: relative;
  
    input,
    textarea,select {
      width:  83vw;
      border:2px solid $caramel;
      padding: 10px;
      margin: 10px 0px;
    }
    select{
      background: $white;
    }
    input{
      height: 40px;
    }
  }
}