//font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

//colors
$caramel:rgb(193, 154, 107);
$brown:rgb(110, 67, 52);
$navyblue:rgb(63, 61, 86);
$white: rgb(255, 255, 255);

// font sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px